<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="img/logo/logo.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/account.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

 	<!-- Header --> 
<!-- 	<div th:replace="~{header :: header}"></div> -->
	<!-- Header -->

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="main" class="stext-109 cl8 hov-cl1 trans-04"> Home <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a> <span class="stext-109 cl4"> Account Page </span>
		</div>
	</div>


	<!-- Shoping Cart -->
	<div id="sp_order">

		<!-- 주문하시는상품 S -->
		<h4 class="dpTitle_barNew" style="margin-top: 0px">
			<!-- 20120511 수정 -->
			<span class="tit"><img src="https://sslimage.interpark.com/_spOrder/title/tit_orderPrda.gif" width="254" height="23" alt="주문하시는 상품&amp;할인내역 입력"></span>
		</h4>
		<div class="table_ty1">
			<!-- 20130131_ 박태진 ps_rl 제거 -->
			<div class="mypoint_info">
				<div class="mypoint-guide">
					<div class="guide-top">
						<span class="top-layer"></span>
					</div>
				</div>
			</div>
			<!-- 나의 보유포인트 End -->

			<div id="pointDelvCheck" style="display: none">
				<input type="checkbox" class="chk" name="applyDelvPoint" value="-1" style="display: none;">
			</div>
			<input type="checkbox" class="chk" name="applyDelvCoupon" value="-1" style="display: none;"><span id="pointBtn"></span>
			<table class="orderListTable">
				<!-- 2015-11-25 -->
				<colgroup>
					<col>
					<col style="width: 44px">
					<col style="width: 101px">
					<col style="width: 101px">
					<col style="width: 101px">
					<!-- <col style="width:142px"> -->
					<col style="width: 105px">
					<col style="width: 83px">
				</colgroup>
				<!-- 2015-11-25 -->
				<tbody>
					<tr>
						<th>상품명</th>
						<th>수량</th>
						<th>상품금액</th>
						<th>즉시할인</th>
						<th>소계금액</th>
						<!-- <th>미전환 <span>I-Point</span> 사용</th> -->
						<th>배송비</th>
						<th class="alt">판매자</th>
					</tr>

					<tr>
						<td class="prd_name" style="border-bottom: 1px solid rgb(222, 222, 222);">
							<a href="http://www.interpark.com/product/MallDisplay.do?_method=detail&amp;sc.shopNo=0000100000&amp;sc.dispNo=001770004005&amp;sc.prdNo=5412744112" target="_blank">#APP특가14,900원# 바른씨 노르웨이생연어 500g 필렛 숙성연어/연어회<br>
								<span class="txt_option">[선택1 / 01_생연어 500g(몸+뱃살)]</span>
							</a>
						</td>
						<td class="aCenter">2개</td>
						<td class="price_buy">33,800원</td>
						<td class="price">0원</td>
						<td class="price f_gr2" rowspan="1"><strong>33,800원</strong> </td>
						<td class="ems" rowspan="1">3,500원
							<div id="pointDelvCheck" style="display: none"></div>
							<div style="display: none;">
								<input type="checkbox" class="chk" name="applyDelvCoupon"
									value="1" onclick="SelectDelvPayment('CP',3500.0,1)"
									style="vertical-align: baseline; height: 15px; margin-top: 1px"><input
									type="hidden" name="applyDelvCpAmt" value="3500.0">
								무료배송쿠폰
							</div>
						</td>				
						<td class="aCenter" rowspan="1">주식회사바른씨</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //주문하시는상품 E -->

		<!-- 090115추가 Start -->
		<div class="step03e_new">
			<div class="step03e_btm2">
				<div class="step03e_top2">
					<!-- 20121105 수정 -->
					<table class="sub_step_table">
						<!-- 2015-11-25 -->
						<colgroup>
							<col style="width: 192px">
							<col style="width: 12px">
							<col style="width: 580px">
							<col style="width: 12px">
							<col>
						</colgroup>
						<!-- 2015-11-25 -->
						<tbody>
							<tr>
								<td class="align_bottom">
									<table class="sub_step2e_table">
										<!-- 2015-11-25 -->
										<tbody>
											<tr>
												<td class="sum_space"></td>
											</tr>
											<tr>
												<td class="sum_total">
													<span class="tot">총 주문금액</span>
													<div style="padding-top: 8px; font: bold 18px" class="f_gr">37,300원</div>														
												</td>
											</tr>
											<tr>
												<td>
													<div class="table_ty7">
														<table>
															<!-- 2015-11-25 -->
															<tbody>
																<tr>
																	<th><b>상품가격</b></th>
																	<td><b>33,800원</b></td>
																</tr>
																<tr>
																	<th>선불배송비</th>
																	<td>3,500원</td>
																</tr>
																<tr>
																	<th>추가배송비</th>
																	<td><span id="totAddDelvAmt">0</span>원</td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="align_arrow">
									<img src="https://sslimage.interpark.com/_spOrder/bg_step03e_arrow.gif" alt="">
								</td>
								<td class="align_top">
									<dl class="sub_step2e new">
										<dt>
											<input type="text" name="totDiscountAmt" class="sale_sum" value="0" readonly="">
										</dt>
									<dd>

									<div class="table_ty8">
										<table>
													<!-- 2015-11-25 -->
											<colgroup>												
												<col style="width: 120px">
											</colgroup>

											<tbody>
												<tr>
													<th class="btn_img">상품할인
														<span class="f_gr f11 ls_1">(적용가능쿠폰 : 0장)</span>
														<a href="javascript:alert('지금 주문에서 사용하실 수 있는 할인 쿠폰이 없습니다.');">
														<img src="https://sslimage.interpark.com/_spOrder/btn/bt_viewOruse.gif" class="btn" alt="조회 및 적용"></a>
														<div class="coupon-wrap" style="display: none">

														</div>
													</tbody>
												</table>
											</div>
										</dd>
									</dl>
								</td>
								<td class="align_arrow"><img
									src="https://sslimage.interpark.com/_spOrder/bg_step03e_arrow.gif"
									alt=""></td>
								<td class="align_bottom">
									<table class="sub_step3e_table new">
										<!-- 2015-11-25 -->
										<tbody>
											<tr>
												<td class="sum_space"></td>
											</tr>
											<tr>
												<td class="sum_total">
													<span class="tot" style= "font: bold 18px">총 결제금액</span>
													<div style="padding-top: 8px; font: bold 18px" class="f_gr">37,300원</div>														
												</td>
											</tr>
											<tr>
												<td>
													<div class="table_ty7">
														<table>
															<!-- 2015-11-25 -->

															<tbody>
																<tr>
																	<th class="pointSave"><span class="ipont_txt">I-Point</span>적립</th>
																	<td class="pointSave"><span id="saveIpointSum">0</span>P</td>
																</tr>
																<tr>
																	<th>착불배송비
																		<img src="https://sslimage.interpark.com/_spOrder/icon/icon_help_layer.gif" class="mid bt_m1" alt="도움말"
																			onmouseover="disp_div_new('return_prd',event); return false;" onmouseout="hide_div_new('return_prd')">
																	</th>
																	<td>0건</td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>			
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	
	
			<div class="step_new clearNew">                   
		        <div class="step01">
                    <h3><img src="https://sslimage.interpark.com/_spOrder/title/tit_h3_01a.gif" alt="주문하시는 분"></h3>
                    <div class="brBox437a_top">
                    	<div class="brBox437a_btm"><!-- 101217수정 -->
                        	<div class="table_ty2">
                            	<table><!-- 2015-11-25 -->
                            		<colgroup>
                                		<col style="width:90px">
                                		<col>
                            		</colgroup><!-- 2015-11-25 -->
                            		<tbody>
                            			<tr>                                
                                    		<th><img src="https://sslimage.interpark.com/_spOrder/th_name01.gif" alt="주문자"></th>                                    
                                    		<td class="txt">최수빈<input type="hidden" name="ordNm" id="ordNm" value="최수빈"></td>
                                    
                            			</tr>                         
			                            <tr>
			                                <th><img src="https://sslimage.interpark.com/_spOrder/th_email.gif" alt="이메일"></th>			                                
			                                <td class="input"><input type="text" class="txt" style="width: 195px;" name="ordEmail" value="tnehfdl2011@gmail.com" maxlength="48"></td>
			                            </tr>			
			                            <tr>
			                                <th>
			                                	<img src="https://sslimage.interpark.com/_spOrder/th_tel.gif" alt="전화번호">
			                                </th>
			                                <td class="input">
			                                    <input type="text" class="txt" style=" float: left; width: 50px;ime-mode: disabled;" name="ordTelno1" id="ordTelno1" value="02" maxlength="4" onkeypress="chk_number(event);" >
			                                    <span style=" float: left;">&nbsp;-&nbsp;</span>
			                                    <input type="text" class="txt" style=" float: left; width: 50px;ime-mode: disabled;" name="ordTelno2" id="ordTelno2" value="989" maxlength="4" onkeypress="chk_number(event);" onkeyup="moveFocus(4,this,'ordTelno3','TmpOrderForm');">
			                                    <span style=" float: left;">&nbsp;-&nbsp;</span> 
			                                    <input type="text" class="txt" style=" float: left; width: 50px;ime-mode: disabled;" name="ordTelno3" id="ordTelno3" value="6392" maxlength="4" onkeypress="chk_number(event);" onkeyup="checkPhoneNum('ordTelno')">
			                                </td>
			                            </tr>
			                            <tr>
			                                <th><img src="https://sslimage.interpark.com/_spOrder/th_hp.gif" alt="휴대폰번호"></th>
			                                <td class="input">
			
			                                    <input type="text" class="txt" style=" float: left; width: 50px;ime-mode: disabled;" name="ordMpno1" id="ordMpno1" value="010" maxlength="4" onkeypress="chk_number(event);">
			                                    <span style=" float: left;">&nbsp;-&nbsp;</span> 
			                                    <input type="text" class="txt" style=" float: left; width: 50px;ime-mode: disabled;" name="ordMpno2" id="ordMpno2" value="2042" maxlength="4" onkeypress="chk_number(event);" onkeyup="moveFocus(4,this,'ordMpno3','TmpOrderForm');">
			                                    <span style=" float: left;">&nbsp;-&nbsp;</span> 
			                                    <input type="text" class="txt" style=" float: left; width: 50px;ime-mode: disabled;" name="ordMpno3" id="ordMpno3" value="1992" maxlength="4" onkeypress="chk_number(event);" onkeyup="checkPhoneNum('ordMpno')">
			                                </td>
			                            </tr>			                           
									</tbody>
								</table>
							</div>
			             </div>
			         </div>			
			     </div>
                          
                <div class="step_arrow"><img src="https://sslimage.interpark.com/_spOrder/icon/icon_arrow.gif" alt=""></div>

                <div class="step02">
                	<div class="brBox513a_top"><div class="brBox513a_btm"><!-- 101217수정 -->
                        <div class="table_ty2">
                            <table>
	                            <colgroup>
		                            <col width="90px">
	    	                        <col width="387px">
            	                </colgroup>
        	                        <tbody>
		                                <tr>
	    	                                <th>
	    	                                    <img src="https://sslimage.interpark.com/_spOrder/th_addCheck.gif" alt="배송지확인">
	    	                                </th>
	                                        <td class="txt3" style=" display: inline; ">
	                                            <input type="radio" name="deliverySel" class="chk" id="baseSel">
	                                            <label for="baseSel">기본배송지</label>
	                                            <input type="radio" name="deliverySel" class="chk" id="latelySel">
	                                            <label for="latelySel">최근배송지</label>
	                                            <input type="radio" name="deliverySel" class="chk" id="newSel">
	                                            <label for="newSel">새로입력</label>	                                     
	                                        </td>
	                                    </tr>
	                                    
                            
			                            <tr>
			                                <th><img src="https://sslimage.interpark.com/_spOrder/th_name02.gif" alt="받으실 분"></th>
			                                <td class="input f_glay"><input type="text" class="txt" style="float: left; width: 100px;" name="recipientNm" id="recipientNm" value="최수빈" maxlength="20">
			                                <span style=" float: left;">&nbsp;(성과 이름을 붙여주세요)&nbsp;</span> </td>
			                            </tr>
			                            <tr>
			                            
			                                <th rowspan="3">
			                                	<img src="https://sslimage.interpark.com/_spOrder/th_add.gif" alt="주소">
			                                </th>
			                                <td class="input noborder">
			                                	<input type="text" class="txt" style="float: left; width: 50px;" name="delvZipcdDoro" id="delvZipcdDoro" value="" onkeydown="return false;" readonly="">
			                                	<a><img src="https://sslimage.interpark.com/_spOrder/btn/btn_addrSearchBtn.png" style="float: left;" class="ml5" alt="주소찾기"></a>			                                
			                                </td>
			                            </tr>
			                            <tr>
			                                <td class="input noline noborder"><input type="text" class="txt" style="width: 295px;" name="delvZipAddrDoro" id="delvZipAddrDoro" value="" onkeydown="return false;" readonly=""></td>
			                            </tr>
			                            <tr>
			                                <td class="last noline">
			                                    <input type="text" class="txt" style="width: 295px; ime-mode:active;display:block;" name="delvAddrDoro" id="delvAddrDoro" value="" maxlength="245" onkeydown="return false;" readonly="">
			                                </td>
			                            </tr>			                           
			                            <tr>
<!-- 			                            style=" float: left; -->
			                                <th><img src="https://sslimage.interpark.com/_spOrder/th_tel.gif" alt="전화번호"></th>
			                                <td class="input">
			                                    <input type="text" class="txt" style="float: left; width: 50px;ime-mode: disabled;" name="recipientTelno1" id="recipientTelno1" value="02" maxlength="4">
			                               		<span style=" float: left;">&nbsp;-&nbsp;</span> 
			                                    <input type="text" class="txt" style="float: left; width: 50px;ime-mode: disabled;" name="recipientTelno2" id="recipientTelno2" value="989" maxlength="4">
			                                	<span style=" float: left;">&nbsp;-&nbsp;</span> 
			                                    <input type="text" class="txt" style="float: left; width: 50px;ime-mode: disabled;" name="recipientTelno3" id="recipientTelno3" value="6392" maxlength="4">
			                                </td>
			                            </tr>
			                            <tr>
			                                <th><img src="https://sslimage.interpark.com/_spOrder/th_hp.gif" alt="휴대폰번호"></th>
			                                <td class="input">
			                                     <input type="text" class="txt" style="float: left; width: 50px;ime-mode: disabled;" name="recipientMpno1" id="recipientMpno1" value="010" maxlength="4" onkeypress="chk_number(event);">
			                                     <span style=" float: left;">&nbsp;-&nbsp;</span>
			                                     <input type="text" class="txt" style="float: left; width: 50px;ime-mode: disabled;" name="recipientMpno2" id="recipientMpno2" value="2042" maxlength="4" onkeyup="moveFocus(4,this,'recipientMpno3','TmpOrderForm');" onkeypress="chk_number(event);">
			                                     <span style=" float: left;">&nbsp;-&nbsp;</span> 
			                                     <input type="text" class="txt" style="float: left; width: 50px;ime-mode: disabled;" name="recipientMpno3" id="recipientMpno3" value="1992" maxlength="4" onkeypress="chk_number(event);" onkeyup="checkPhoneNum('recipientMpno')">
			                                </td>
			                            </tr>
			                            <tr>
			                                <th class="noborder"><img src="https://sslimage.interpark.com/_spOrder/th_txt2.gif" alt="배송 요청사항"></th>
			                                <td class="input3 noborder">
			                                    <div class="messageSelectWrap">
			                                    	<select>
			                                    		<option>요청사항이 있으실 경우 직접 입력해주세요.</option>
			                                    		<option>배송 전 연락 바랍니다.</option>
			                                    		<option>부재 시 휴대폰으로 연락 바랍니다.</option>
			                                    		<option>부재 시 경비실에 맡겨주세요.</option>
			                                    		<option>경비실이 없습니다. 배송 전 연락 바랍니다.</option>			                                    	
			                                    	</select>			                                      
			                                    </div>
			                                </td>			                                
			                            </tr>                         
			                        </tbody>
			      				</table>
			                </div>
			            </div>
					</div>			
				</div>                  			
			</div>


	<!-- footer section -->
<!-- 	<div th:replace="~{footer :: footer}"></div> -->
	<!-- footer section end -->


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
		
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>