<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 추가</title>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="img/logo/logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/addAndModi.css">
<!--===============================================================================================-->
</head>
<body>


	<!-- Header section -->
	<div th:replace="~{header_admin :: header}"></div>
	<!-- Header section end -->
	
	
	
	<div id="sewAddProdContainer" class="mainFrame">
		<h2>상품 추가</h2>				
		<form class="mainForm" id="sewAddProdForm" name="sewAddProdForm" method="post" action="addPro" enctype="multipart/form-data">
			<table>
				<tbody>
					<tr>
						<th scope="row">
							상품 명
						</th>
						<td>
							<input class="form-control" id="addProdName" type="text" name="gdName">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							이미지
						</th>
						<td>
							<input class="form-control" id="addProdName" type="file" name="imgFile">										
						</td>							
					</tr>				
					<tr>
						<th scope="row">
							종류
						</th>
						<td>
							<select class="form-control" name="gdKinds">
								<option>소주</option>
								<option>맥주</option>
								<option>전통주</option>
								<option>양주</option>
							</select>
<!-- 							<input class="form-control" id="addProdName" type="text" name="gdKinds" placeholder="소주 / 맥주 / 전통주 / 양주">									 -->
						</td>									
					</tr>
					<tr>
						<th scope="row">
							가격
						</th>
						<td>							
							<input class="form-control" id="addProdName" type="number" name="gdPrice" placeholder="숫자만 입력하세요.">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							제조사
						</th>
						<td>
							<input class="form-control" id="addProdName" type="text" name="gdMaker">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							도수
						</th>
						<td>
							<input class="form-control" id="addProdName" type="number" name="gdAlcohol" placeholder="숫자만 입력하세요.">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							용량
						</th>
						<td>
							<input class="form-control" id="addProdName" type="number" name="gdVol" placeholder="숫자만 입력하세요.">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							출시일
						</th>
					<td>
							<input class="form-control" id="addProdName" type="date" name="gdStartDay">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							재고
						</th>
						<td>
							<input class="form-control" id="addProdName" type="number" name="gdStock" placeholder="숫자만 입력하세요.">
						</td>									
					</tr>
					<tr>
						<th scope="row">
							설명
						</th>
						<td>
							<input class="form-control" id="addProdName" type="text" name="gdDiscription">
						</td>									
					</tr>
				</tbody>
			</table>
			
			<div class="addAndcnsBtn">
				<button class="addBtn" type="submit" id="addProdSubmit" value="등록하기"> 등록 </button>
				<button class="cancelBtn" type="button" name="cancel" value="취소" onclick="back_onclick()"> 취소 </button>							
			</div>				
		</form>
	</div>


	<!-- footer section -->
	<div th:replace="~{footer :: footer}"></div>
	<!-- footer section end -->
	
	
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		function back_onclick(){
			history.back();
		}
	
	</script>
	
</body>
</html>