<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 관리 페이지</title>

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/admin.css">
<!--===============================================================================================-->
</head>


<body>

	<!-- Header section -->
	<div th:replace="~{header :: header}"></div>
	<!-- Header section end -->
	

	<form action="addProduct" method="get" class="top_btns">
		<button class = "btns top" type="submit">상품 추가</button>
		<button class = "btns top" type="button" onclick="back_onclick()">뒤로가기</button>
	</form>
	
	<table class="type04">
	    <tr>
	        <th scope="row">제품 코드</th>
	        <th>제품 사진</th>
	        <th>제품 명</th>
	        <th>가격</th>
	        <th>종류</th>
	        <th>제조사</th>
	        <th>도수</th>
	        <th>재고</th>
	        <th>출시일</th>
	        <th>설명</th>	
	        <th>수정 및 삭제</th>      
	    </tr>
	    
	     <tr th:each = "proList : ${pro}">
	        <td scope="row" class="number" th:text = "${proList.getGdNum()}"></td>
	        <td class="imgTd"><img width="130px" height="150px" th:src="@{'img/goods/' + ${proList.getGdImg()}}" alt="IMG-PRODUCT"></td>
	        <td th:text = "${proList.getGdName()}"></td>
	        <td th:text = "${#numbers.formatInteger(proList.getGdPrice(),3,'COMMA')} + '원'"></td>
	        <td th:text = "${proList.getGdKinds()}"></td>
	        <td th:text = "${proList.getGdMaker()}"></td>
	        <td th:text = "${proList.getGdAlcohol()} + '%'"></td>
	        <td th:text = "${proList.getGdStock()} + '병'"></td>
	        <td th:text = "${#dates.format(proList.getGdStartDay(), 'yyyy-MM-dd')}"></td>
	        <td th:text = "${proList.getGdDiscription()}"></td>	  
	        <td>
	        	<a href = "prodModify">
	        		<button class = "btns">수정</button>
        		</a>
       			<button class = "btns" onclick="proDelete(this)">삭제</button>
     		</td>
	    </tr>
    </table>
	
	
	<!-- footer section -->
	<div th:replace="~{footer :: footer}"></div>
	<!-- footer section end -->
	
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		function back_onclick(){
			history.back();
		}
	
	</script>
	
	<script type="text/javascript">
		function proDelete(self){
			var gdNum = $(self).parent('td').parent('tr').children('.number').text();
			$(location).attr("href", "/prodDelete?gdNum="+gdNum);
		}
	
	</script>
	
</body>
</html>