<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>회원가입</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
<!--===============================================================================================-->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="img/logo/logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate2.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select22.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util2.css">
	<link rel="stylesheet" type="text/css" href="css/main2.css">
<!--===============================================================================================-->	


</head>
<body>
	
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<a href="main"><img src="img/logo/logo.png" alt="IMG">
						<span class="login100-form-title">
							Welcome to Soolfarm
						</span>
					</a>
					
				</div>

				<form class="login100-form validate-form" action="joinSubmit" method="post">
					<span class="login100-form-title">
						Member join
					</span>
					
					<div class="wrap-input100 validate-input" >
						<input type="text" class="email_size" name="email" id="email" placeholder="이메일을 입력해주세요.">
						<input type="button" class="check_btn" id="checkBtn" value="중복 확인">
						<img id ="check_sucess" style="display: none;">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-badge" aria-hidden = "true"></i>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pw" id="pw" placeholder="비밀번호를 입력해주세요.">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>		
					
					<div class="wrap-input100 validate-input" data-validate = "name is required">
						<input class="input100" type="text" name="name" placeholder="이름을 입력해주세요.">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-card" aria-hidden="true"></i>
						</span>
					</div>
								
					<div class="wrap-input100 validate-input" data-validate = "tel is required">
						<input class="input100" type="tel" name="tel" placeholder="전화번호를 입력해주세요.">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<input class="post_num" type="text" id="sample6_postcode" name="zipCode" placeholder="우편번호">
						<input class="post_num_btn" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-book" aria-hidden = "true"></i>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100 input100_1" type="text" id="sample6_address" name="address1" placeholder="주소">
						<span class="symbol-input100">
							<i class="fa fa-address-book" aria-hidden = "true"></i>
						</span>
					</div>	
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="sample6_detailAddress" name="address2" placeholder="상세주소">	
						<span class="symbol-input100">
							<i class="fa fa-address-book" aria-hidden = "true"></i>
						</span>					
					</div>			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Join
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="join">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main2.js"></script>
<!--===============================================================================================-->
<!-- 	< class="email_size" id="email" > -->
<!-- 	<class="check_btn" id="checkBtn" onclick= "click()"> -->
<!-- if ($('.email_size').val() == ''){ -->
<!-- 			alert("이메일을 입력해주세요."); -->
<!-- 			return; -->
<!-- 		} -->
	<script>	
	var idck = 0;
	
	$(function(){
		
		$("#check_btn").click(function(){
			var email = $("#email_size").val;
			
			$.ajax({
				async: true,
				type: "POST",
				data: email,
				url: "idcheck",
				dataType: "json",
				contentType: "application/json; charset=UTF-8",
				success: function(data){
					if (data.cnt > 0){
						alert("존재하는 아이디입니다.");
					}else{
						alert("사용가능한 아이디입니다.");
						idck = 1;
					}
				},
				error: function(error){
					alert("error: " + error);
				}
			});					
		});		
	});
	</script>

<!--===============================================================================================-->	
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
//                     document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
<!--===============================================================================================-->

</body>
</html>