<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MyPage</title>

<!-- <link rel="stylesheet" href="https://www.coupang.com/resources/20191025215303/np/css/common.min.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="https://www.coupang.com/resources/20191025215303/np/css/side.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="https://www.coupang.com/resources/20191025215303/np/css/list.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="https://www.coupang.com/resources/20191025215303/np/css/ddp.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="https://www.coupang.com/resources/20191025215303/np/css/productReview.min.css" type="text/css"> -->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" type="text/css" href="css/myPage.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="img/logo/logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>

<body>

	<!-- Header section -->
	<div th:replace="~{header :: header}"></div>
	<!-- Header section end -->
	
	
	<!-- right_cm -->
	<div class="right_cm">
		<section>
			<h4><i class='far fa-edit' style='font-size:36px;'></i>내 정보수정</h4>
			<div class="right_cm_cont">
					<!-- 서브컨텐츠 -->
					<!-- 내 정보수정 -->
				<div class="table_wrap mT25">
					<p class="table_title mB10">개인정보 변경<span class="mL10 cl2a2a2a fs13">회원님의 개인정보 보호를 위해 주기적으로 비밀번호를 변경해 주세요.</span></p>
					<table summary="내 정보수정-패스워드 변경" class="table_edit border-top-2" th:each = "member : ${reset}">
						<caption></caption>
						<colgroup>
							<col width="224">
							<col width="/">
						</colgroup>
						<tbody>
							<tr>
								<th>아이디</th>
								<td th:text="${member.getEmail()}"></td>
							</tr>
							
							<tr>
								<th>이름</th>
								<td th:text="${member.getName()}"></td>
							</tr>
							
							<tr>
								<th>현재 비밀번호</th>
								<td><input type="password" class="t_input" style="width:226px" title="현재 비밀번호를 입력하세요." id="signPwd" name="signPwd" maxlength="20" onkeydown="onKeyDown();" onpaste="return false;" oncopy="return false;"></td>
							</tr>
							<tr>
								<th>새 비밀번호</th>
								<td><input type="password" class="t_input" style="width:226px" title="6~20자 영문, 숫자, 특수문자만 사용 가능합니다." id="signPwdNew" name="signPwdNew" maxlength="20" onkeydown="onKeyDown();" onpaste="return false;" oncopy="return false;"></td>
							</tr>
							<tr>
								<th>새 비밀번호 확인</th>
								<td><input type="password" class="t_input" style="width:226px" title="비밀번호를 한번 더 입력해 주세요." id="signPwdChk" name="signPwdChk" maxlength="20" onkeydown="onKeyDown();" onpaste="return false;" oncopy="return false;"><!--span class="mL10 fs12">비밀번호는 4~20자의 영문, 숫자를 혼합하여 사용</span--></td>
							</tr>	
													
							<tr>
							<th>휴대폰 번호</th>
								<td><input type="text" class="t_input" id="cell_number" name="cell_number" maxlength="11" placeholder="[-]없이 숫자로 입력해 주세요." style="width:226px" title="휴대폰 번호를 [-]없이 숫자로 입력해 주세요."><input type="button" value="인증번호발송" class="btn_basic btn_sm mL10" id="btn_smsSend"></td>
							</tr>							
							<tr>
								<th>인증 번호</th>
								<td><input type="password" class="t_input" style="width:226px" id="cert_number" name="cert_number" maxlength="6" placeholder="발송된 인증번호를 입력해 주세요." title="발송된 인증번호를 입력해 주세요."></td>
							</tr>
							
							<tr>
								<th>가입일</th>
								<td th:text="${#dates.format(member.getJoinDate(),'yyyy-MM-dd hh-mm')}"></td>
							</tr>		
												
							<tr>
								<th>주소</th>
								<td>
								<span class="fb" th:text = "${member.getAddress()}"></span>
								<input type="button" value="변경하기" class="btn_basic btn_sm mL20" onclick="javascript:location.href='/event/birthday/birth_main.asp'">
							</td>
							</tr>
						</tbody>
					</table>
					<div class="tac mT30">
						<input type="button" value="변경하기" class="btn_basic fs14" id="btn_changeData">
					</div>
				</div>
					<!-- /내 정보수정 -->
					
				
			</div>
		</section>
	</div>
			
	<!-- footer section -->
	<div th:replace="~{footer :: footer}"></div>
	<!-- footer section end -->
	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
		
		function detail(num){
			location.href="detail?gdNum=" + num;
		}
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</body>
</html>