* {
    margin: 0;
    padding: 0;
}

body, td, th, div, span, dt, dd, li, input, select, textarea {
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-family: 돋움, Dotum, Arial, sans-serif;
}

body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

col {
    display: table-column;
}

col[Attributes Style] {
    width: 90px;
}

colgroup {
    display: table-column-group;
}

dl.sub_step1e {
    overflow: hidden;
    padding: 0 10px;
}

dl.sub_step1e dt {
    height: 50px;
    text-align: center;
    padding-top: 20px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_sub_step1e.gif) no-repeat 0 0;
}

dl.sub_step2e dd .event_coupon {
    width: 588px;
    padding: 10px 0 7px;
    margin-left: -8px;
    background: #f6f6f6;
    border-bottom: 1px solid #e7e7e7;
}

dl.sub_step2e dd .event_coupon .title {
    margin-left: 20px;
    padding-left: 7px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_list.gif) no-repeat 0 4px;
    font-weight: bold;
    color: #cb6767;
}

dl.sub_step2e dt {
    padding-left: 434px;
    margin: 4px 0;
}

dl.sub_step2e dt input.sale_sum {
    width: 70px;
    height: 20px;
    color: rgb(255, 232, 74);
    text-align: right;
    background: rgb(93, 93, 93);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: bold 12px 돋움;
    padding: 4px 6px 0px 0px;
}

dl.sub_step3e dt {
    height: 50px;
    text-align: center;
    padding-top: 20px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_sub_step3e.gif) no-repeat 0 0;
}

/* div { */
/*     display: block; */
/* } */

element.style {
    border-bottom: 1px solid rgb(222, 222, 222);
}

input {
    outline-style: none;
    vertical-align: middle;
}

input.chk {
    border: 0;
    background: transparent;
    margin-right: 1px;
    vertical-align: -2px;
}

input.txt {
    border: 1px solid #d9d9d9;
    padding: 2px 5px;
    color: #696969;
    line-height: 18px;
}

img {
    border: 0;
    vertical-align: top;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    width: 100%;
    overflow: auto;
    overflow: hidden;
    height: 27px;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

h3 img {
    float: left;
    margin-left: 5px;
}

h4 {
    overflow: auto;
    overflow: hidden;
    height: 26px;
    background-color: #fff;
    padding-right: 10px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4.dpTitle_barNew {
    position: relative;
    clear: left;
    width: 980px;
    height: 23px;
    margin-top: 10px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_dp_titbar01a.gif) no-repeat 1px 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

span.ipont_txt {
    font-family: Tahoma;
    letter-spacing: 0 !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

table.sub_step_table {
    width: 100%;
    table-layout: fixed;
}

table.sub_step_table td.align_bottom {
    vertical-align: middle;
}

table.sub_step_table td.align_top {
    vertical-align: top;
}

table.sub_step_table td.align_arrow {
    vertical-align: middle;
}

table.sub_step2e_table td.sum_space {
    height: 62px;
}

table.sub_step3e_table td.sum_space {
    height: 62px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
	text-align: center;
}

ul, ol, li {
    list-style: none;
}

#INTERPARK {
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

#INTERPARK2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.brBox437a_btm {
    min-height: 229px;
    padding: 9px 18px 26px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_brBox437_btm.gif) no-repeat 0 bottom;
}

.brBox437a_top {
    width: 437px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_brBox437_top.gif) no-repeat 0 0;
}

.brBox513a_btm {
    min-height: 229px;
    padding: 9px 18px 20px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_brBox513_btm.gif) no-repeat 0 bottom;
}

.brBox513a_top {
    width: 513px;
    background: url(https://sslimage.interpark.com/_spOrder/bg_brBox513_top.gif) no-repeat 0 0;
}

.clearNew {
    width: 100%;
}

.f_br {
    color: #CB6767;
}

.f_gr {
    color: #CB6767;
}

.ipointDelv {
    width: 100%;
    overflow: auto;
    overflow: hidden;
    margin: 5px 0 5px;
    padding: 8px 0;
    background: url(https://sslimage.interpark.com/_spOrder/img_ipointDelv_info.gif) no-repeat 5px center;
}

.ipointDelv li {
    background: url(https://sslimage.interpark.com/_spOrder/bl/bl_7F.gif) no-repeat 8px 5px;
    padding-left: 15px;
    padding-bottom: 3px;
    line-height: 140%;
}

.step_new {
    margin-top: 5px;
}

.step03e_btm2 {
    width: 100%;
    padding: 0 0 20px 0;
    overflow: hidden;
    background: url(https://sslimage.interpark.com/_spOrder/bg_step03e_Btm2.gif) no-repeat 0 bottom;
}

.step03e_new {
    width: 980px;
    margin-top: 20px;
}

.step03e_top2 {
    width: 100%;
    background: url(https://sslimage.interpark.com/_spOrder/bg_step03e_Top2.gif) no-repeat 0 top;
}

.table_ty1 td.prd_name {
    padding-left: 15px;
}

.table_ty1 td {
    padding: 9px 0px 7px 0px;
    border-bottom: 1px #dedede solid;
}

.table_ty2 input {
    width: 13px;
    height: 13px;
}

.table_ty2 td {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
    vertical-align: top;
    background: url(https://sslimage.interpark.com/_spOrder/bl/bl_td01.gif) no-repeat 0 11px;
}

.table_ty2 td.input {
    background-position: 0 10px;
    padding-top: 5px;
}

.table_ty2 td.input3 {
    background-position: 0 10px;
    padding-top: 5px;
}

.table_ty2 td.noborder {
    border-bottom: 0px;
}

.table_ty2 td.txt {
    padding-top: 10px;
}

.table_ty2 td.txt3 {
    padding-top: 8px;
    padding-bottom: 3px;
}

.table_ty2 th {
    padding: 9px 0 5px 7px;
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
    vertical-align: top;
    font-weight: normal;
    background: url(https://sslimage.interpark.com/_spOrder/bl/bl_th01.gif) no-repeat 0 13px;
}

.table_ty7 {
    overflow: hidden;
    padding: 0 10px;
}

.table_ty7 td {
    border-top: 1px solid #e7e7e7;
    text-align: right;
    height: 31px;
}

.table_ty7 th {
    width: 80px;
    padding-left: 7px;
    text-align: left;
    font-weight: normal;
    border-top: 1px solid #e7e7e7;
    background: url(https://sslimage.interpark.com/_spOrder/bl/bl_th01.gif) no-repeat 0 11px;
}

.table_ty8 input {
    margin-top: -1px;
    width: 13px;
    height: 13px;
}

.table_ty8 table {
    width: 100%;
    table-layout: fixed;
}

.table_ty8 td {
    vertical-align: top;
    padding-top: 7px;
    border-bottom: 1px solid #e7e7e7;
    text-align: right;
    color: #696969;
}

.table_ty8 th {
    vertical-align: top;
    padding: 10px 0 6px 7px;
    border-bottom: 1px solid #e7e7e7;
    background: url(https://sslimage.interpark.com/_spOrder/bl/bl_th01.gif) no-repeat 0 13px;
    text-align: left;
    font-weight: normal;
    color: #696969;
}

.table_ty8 th.pointNoneInfo {
    background-image: none;
    padding-top: 6px;
}

.table_ty8 th.pointNoneInfo span {
    font-size: 11px;
    letter-spacing: -1px;
    color: #858585;
}

.table_ty8 th.ipoint_save {
    padding: 8px 0 4px 7px;
    border-bottom: 0px;
    padding-bottom: 0;
}

.tot {
	font: bold 30px;
	border-bottom: 1px solid gray;
}

.txt3 {
	display: inline;
}

.messageSelectWrap {
    position: relative;
}

.messageSelectWrap .selectMessage {
    position: relative;
    display: block;
    width: 307px;
    height: 19px;
    padding: 0 22px 0 5px;
    box-sizing: border-box;
    border: 1px solid #707070;
    background: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 19px;
    color: #696969;
    text-decoration: none;
}

.messageSelectWrap .selectMessage:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 4px;
    width: 11px;
    height: 8px;
    background: url(https://sslimage.interpark.com/_spOrder/icon_messageArrow.gif) 0 0 no-repeat;
}


a:hover {
    color: #666;
    text-decoration: underline;
}

a:visited {
    color: #666;
    text-decoration: none;
}

a:link {
    color: #666;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}










